/*Container*/  

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bebas+Neue&family=Roboto&family=Lato');


.body {
    background-image: url('../../img/Landing.triangular-hallway.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: top-center;
    align-items: center;
    height: 100vh;
}               


.textContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
    padding: 2px;
    margin-top: 20px;
}

.textContainer p {
    font-family: "Bungee Shade", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #f9f3f4; 
    /* background-color: #5b0879;  
    border-radius: 10px;
    padding: 0.4rem 1.8rem; */
}

.navLink {
    margin-top: -30px;
}

.button {
    background-color: transparent;
    color: white;
    font-family: "Bebas Neue", sans-ser;
    font-size: 1.4rem;
    padding: 0.6rem 1.8rem;
    border: solid 2px white;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    margin-top: 100px;
}


.button:hover {
    background-color: #5b0879;
    box-shadow: 0 0 40px 40px #9761ae inset, 0 0 0 0 #9761ae;
}
